<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title
     
    align="center"
    size="undefined"
   class="ion-text-capitalize"
   style="font-family:Verdana, Geneva, Tahoma, sans-serif" >
     Bienvenidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
   <!-- <ion-fab (click)="salir()" vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button color="primary">Salir
      <ion-icon  name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-img src="assets/icon/logoM.png"></ion-img> 
 
 <ion-grid fixed>
      <ion-row>
        <ion-col size="12">  <ion-card  routerLink="/citas-agendadas" *ngIf=" id_rol==2 " >
          <img src="assets/imagenes/cita.png">
          <ion-card-title color="primary" size="undefined"
          style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;" 
          align="center"> 
            <h3>Citas Pendientes</h3></ion-card-title>
        </ion-card></ion-col>
        <ion-col 
        
        offset-xl="4" size-xl="3" offset-lg="3" size-lg="4" offset-md="3" size-md="6"  size="6" 
        >
          <ion-card routerLink="/agendarcita" *ngIf="id_rol==4" >
            <img src="assets/imagenes/agendar.png">
            <ion-card-title color="primary" size="undefined"
            style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;" 
            align="center"> 
             <h3>Agendar Cita</h3> </ion-card-title>
          </ion-card>
          
         </ion-col>
        <ion-col 
         offset-xl="4" size-xl="3" offset-lg="3" size-lg="4" offset-md="3" size-md="6" size="6" 
        >
          <ion-card   routerLink="/historial-cliente" *ngIf="id_rol==4" >
            <img src="assets/imagenes/historial.png">
            <ion-card-title color="primary" size="undefined"
            style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" align="center">
            <h3>Historial</h3></ion-card-title>
          </ion-card>
         
         
        </ion-col>

      </ion-row>
    </ion-grid>
    <ion-grid fixed>
      <ion-row>
        <ion-col
        
        offset-xl="4" size-xl="3" offset-lg="3" size-lg="4" offset-md="3" size-md="6" size="6" 
        >
          <ion-card routerLink="/contacto" *ngIf="id_rol==4" >
            <img src="assets/imagenes/contactos.png">
            <ion-card-title color="primary" size="undefined"
            style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;" align="center">
             <h3>Contacto</h3></ion-card-title>
          </ion-card>
        
        </ion-col>
        <ion-col 
        
        offset-xl="4" size-xl="3" offset-lg="3" size-lg="4" offset-md="3" size-md="6"  size="6"     
       >
          <ion-card  routerLink="/cita-paciente" *ngIf="id_rol==4" >
            <img src="assets/imagenes/cita.png">
            <ion-card-title color="primary" size="undefined"
            style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;" 
            align="center"> 
              <h3>Ver Cita</h3></ion-card-title>
          </ion-card>
         
        </ion-col>

      </ion-row>
    </ion-grid>
   
<!--     <ion-button 
    color="danger"  
    shape="round" 
    expand="block" 
    (click)="salir()">
      CERRAR SESIÓN
    </ion-button> -->


</ion-content>
